{% extends 'basic.html' %}
{% block title %}Edit Profile{% endblock %}
{% block body %}
{% load static %}

<h2>{{room}} - DjChat</h2>

<div id="display">



<div class="container">
    <style>
    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

    button[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

    button[type=submit]:hover {
    background-color: #45a049;
    }

    </style>
    <div>
        {% if mess %}
            <div style="border: #0d0f91;border-style: solid;">
            <br>
            {% for x in mess %}
                <div class="" >
                    <div style="align-items: initial">
                {% if x.user == username %}
                    <div style="margin-left: 50%;">
                        <div style="margin-right: 5%;background-color: lightcyan;padding: 2%">
                            <h3>{{ x.value }}</h3></div>
                        <div style=";font-size: xx-small"> {{ x.date }}</div>
                        <div style=";font-size: small">
                            <a href="{% url 'delete' id=x.id ro=x.room  %}">Delete</a>
                        </div>
                    </div>
                {% else %}
                    <div style="margin-right: 50%;">
                        <div style="margin-left: 5%;background-color: lightcoral;padding: 2%">
                            <h3>{{ x.value }}</h3></div>
                        <div style="margin-left: 5%;font-size: xx-small"> {{ x.date }}</div>
                        <div style="margin-left: 5%;font-size: small">
                            <a href="{% url 'delete' id=x.id ro=x.room  %}">Delete</a>
                        </div>
                    </div>
                {% endif %}
                </div>
             {% endfor %}
            </div>
        {% endif %}
    </div>

    <form id="post-form" method="post" action="{% url 'send' %}">
        {% csrf_token %}
        <input type="hidden" name="username" id="username" value="{{username}}"/>
        <input type="hidden" name="room" id="room" value="{{room}}"/>
        <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}"/>
        <input type="text" name="message" id="message" width="100px" placeholder="message" required/>
        <button type="submit" >Send</button>
    </form>
</div>

</div>
{% endblock %}