{% extends 'basic.html' %}
{% block title %}search user{% endblock %}
{% block body %}
{% load static %}
<h2 style="margin-left: 13%;padding-top: 2%;font-family: 'Lemonada', cursive;color: #0d0f91">Searched result for '{{ search }}'</h2>
    {% if data %}
   <div class="row" style="margin-left: 10%">
       {% for x in data %}
                    {% ifnotequal x.username|stringformat:"s" request.user.username %}
                    <div class="card" style="width: 18rem;margin-left: 5%;padding: 2%">
                        <img src="{{ x.profile_image.url }}" ><br>
                        <h6 style="font-weight: bold">Username:  :{{ x.username }}</h6>
                        <h6 style="font-weight: bold">Name  :{{ x.name }}</h6>
                        <h6 style="font-weight: bold">Email  :{{ x.email }}</h6>
                    </div>
                    {% endifnotequal %}
        {% endfor %}
    </div>
    {% else%}
    {% for x in messages %}
    <h4 style="margin-left: 13%;padding-top: 2%;font-family: 'Lemonada', cursive;color: red">{{ x }}</h4>
    {% endfor %}
    {% endif %}

{% endblock %}